@charset "utf-8";
/* CSS Document */
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
	float: left;
}
.clearfix{
	clear: both;
}
img{
	display: block;
	max-width: 50%;
	height: auto;
	margin: 0 auto;
}
.box{
	width:100%;
	margin: 0 auto;
	background-color: #fafafa;
}
.top{
	width:100%;
	background-color: #a5a2a5;
}
.zhuye{
	width:100%;
	height: 88px;
	background-color: #DBDBDB;
}
.miaobian{
	height: 1px;
	background-color: #dddadd;
}
.box1,.box2,.box3,.box4,.box5,.box6{
	width: 24%;
	padding-bottom: 20px;
	padding-top: 20px;
}
.box1,.box5{
	margin-left: 1.5%;
}
.text{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 80%;
	line-height: 100%;
	margin-top: 10%; 
}
.fenge{
	width: 100%;
	height: 16px;
	background-color: #DBDBDB;
}
.fenge2{
	width: 100%;
	height: 20px;
	background-color: #DBDBDB;
}